<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="umbracoDebugMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="umbracoTimeOutInMinutes" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <!--
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="umbracoDbDSN" connectionString="" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="name@company.co.uk">
        <!-- For Secure Email use:
        <network host="smtp.sendgrid.net" userName="your-username" password="your-password" enableSsl="true" port="587"/>
        -->
        <network host="server" defaultCredentials="true" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
    <!-- Supress the .NET version being displayed on the response header -->
    <httpRuntime xdt:Transform="SetAttributes" enableVersionHeader="false" />
    <pages xdt:Transform="SetAttributes" enableEventValidation="true" validateRequest="true"/>
  </system.web>

  <system.webServer>

    <httpProtocol>
      <customHeaders xdt:Transform="Replace">
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge, chrome=1" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <rewrite xdt:Transform="Replace">
      <rewriteMaps configSource="config\RewriteMaps.config" />
      <rules configSource="config\RewriteRules.config" />
      <outboundRules configSource="config\RewriteOutboundRules.config" />
    </rewrite>

    <staticContent>
      <remove fileExtension=".otf" xdt:Transform="Insert"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf" xdt:Transform="Insert" />
    </staticContent>

  </system.webServer>

</configuration>
