<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="umbracoDebugMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="umbracoTimeOutInMinutes" value="20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<connectionStrings>
		<!--
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="umbracoDbDSN" connectionString="" providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>

	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="Network" from="name@company.co.uk">
				<network host="server" defaultCredentials="true" port="25" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
		<!-- Supress the .NET version being displayed on the response header -->
		<httpRuntime xdt:Transform="SetAttributes" enableVersionHeader="false" />
		<pages xdt:Transform="SetAttributes" enableEventValidation="true" validateRequest="true"/>

	</system.web>

	<system.webServer>
		
		<staticContent>
      			<remove fileExtension=".otf" xdt:Transform="Insert"/>
     			<mimeMap fileExtension=".otf" mimeType="font/otf" xdt:Transform="Insert" />
   		</staticContent>

		<httpErrors xdt:Transform="Insert">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/error" responseMode="ExecuteURL" />
		</httpErrors>

	</system.webServer>


</configuration>
