@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	@Umbraco.RenderMacro("MetaGeneral")
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="~/css/reset.css" type="text/css" rel="stylesheet" />
	<link href="~/css/layout.css" type="text/css" rel="stylesheet" />
	
	<script type="text/javascript" src="~/scripts/functions.js"></script>

</head>
<body>
	<header>
		<h1>Site Name</h1>
	</header>

	@if (IsSectionDefined("Wrapper"))
 	{ 
		@RenderSection("Wrapper");
	}
 	else
 	{
 		<h1>@Umbraco.Field("contentHeader", recursive: true)</h1>
 		@Umbraco.Field("contentBody", recursive: true)
 	}
</body>
</html>