<?xml version="1.0" encoding="utf-8"?>
<outboundRules>

  <!-- HTTP Strict Transport Security -->
  <rule name="Add Strict-Transport-Security only when using HTTPS">
    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
    <conditions>
      <add input="{HTTPS}" pattern="on" ignoreCase="true" />
    </conditions>
    <action type="Rewrite" value="max-age=31536000; includeSubdomains; preload" />
  </rule>

  <!-- Content Security Policy -->
  <!--
  https://scotthelme.co.uk/content-security-policy-an-introduction/
  <rule name="CSP">
    <match serverVariable="RESPONSE_Content-Security-Policy" pattern=".*" />
    <action type="Rewrite" value="default-src 'self'; report-uri https://domain.com/report;" />
  </rule>
  -->

</outboundRules>