<?xml version="1.0" encoding="utf-8"?>
<rules>

  <!--
  <rule name="Force HTTPS" stopProcessing="true">
    <match url="(.*)" ignoreCase="false" />
    <conditions>
      <add input="{HTTPS}" pattern="off" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  -->

  <!-- Redirect to WWW, Production Only -->
  <!--
  <rule name="Redirect to WWW" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^www\." negate="true" />
      <add input="{HTTP_HOST}" pattern="(.+)azurewebsites.net" negate="true" />
    </conditions>
    <action type="Redirect" url="https://www.domain.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
  </rule>
  -->

  <!-- Handle old URL's, see RewriteMaps.config -->
  <rule name="Redirect rule for Legacy URLS">
    <match url=".*" />
    <conditions>
      <add input="{Legacy URLS:{REQUEST_URI}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="false" />
  </rule>

  <!-- Handle Missing Media on Development Environment
	<rule name="Handle missing media" stopProcessing="true">
		<match url="^media/(.*)" />
		<conditions logicalGrouping="MatchAll">

      			Example of how to limit to certain addresses, if required
      			<add input="{REMOTE_HOST}" pattern="localhost" />

			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	    </conditions>
		<action type="Redirect" redirectType="Temporary" url="http://www.domain.com/{R:0}" appendQueryString="true" />
	</rule>
	-->

</rules>
