#
# Umbraco Specific Git Ignore File
#

# This file should be placed inside the directory that contains your Umbraco Web Application
# it is assumed that you will be using a global .gitignore file for the rest of the repository. 

# DLL's created by projects within the solution

[Bb]in/_company_._project_.*.dll

# Data folders/files
[Aa]pp_[Bb]rowsers/*
[Aa]pp_[Dd]ata/ExamineIndexes/*
[Aa]pp_[Dd]ata/umbraco.config
[Aa]pp_[Dd]ata/TEMP/*
[Aa]pp_[Dd]ata/tea-commerce/
[Aa]pp_[Dd]ata/ClientDependency/*
[Aa]pp_[Dd]ata/courier/cache/*
[Aa]pp_[Dd]ata/courier/revisions/*
[Aa]pp_[Dd]ata/justDelete_*
[Aa]pp_[Dd]ata/Preview/*
[Aa]pp_[Dd]ata/_systemUmbracoIndexDontDelete/*

# Log files

[Aa]pp_[Dd]ata/Logs/*
[Aa]pp_[Dd]ata/courier/logs/*
[Aa]pp_[Dd]ata/Elmah Logs/*
[Aa]pp_[Dd]ata/umbraco.licensing.log.txt

# Umbraco XML Cache

[Aa]pp_[Dd]ata/umbraco.config

# Umbraco
# Explictily allow the umbraco packages folder, as it's likely your 
# Visual Studio .gitignore will disallow this. (e.g. packages)

![Uu]mbraco/[Dd]eveloper/[Pp]ackages

# Media Caching

[Mm]edia/*/Cached
[Ii]magecache/*

# 3rd Party Pluggins

uSync.Archive/*
