<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
	<!-- Azure Web Apps - https://our.umbraco.org/documentation/getting-started/setup/Server-Setup/azure-web-apps 
	<add key="umbracoContentXMLStorage" value="EnvironmentTemp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
	     Azure Web Apps - Ensure logging level is set to WARN 
	<add key="log4net.Config" value="config\log4net.Release.config" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	-->
    <add key="umbracoUseSSL" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="umbracoTimeOutInMinutes" value="45" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Umbraco.ModelsBuilder.EnableApi" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <!--
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="umbracoDbDSN" connectionString="__umbracoDbDSN__" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="__smtp.from__">
        <network host="__smtp.host__" userName="__smtp.username__" password="__smtp.password__" enableSsl="true" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
    <!-- Supress the .NET version being displayed on the response header -->
    <httpRuntime xdt:Transform="SetAttributes" enableVersionHeader="false" />
    <pages xdt:Transform="SetAttributes" enableEventValidation="true" validateRequest="true"/>
  </system.web>

  <system.webServer>

    <httpProtocol>
      <customHeaders xdt:Transform="Replace">
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge, chrome=1" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <rewrite xdt:Transform="Replace">
      <rewriteMaps configSource="config\RewriteMaps.config" />
      <rules configSource="config\RewriteRules.config" />
      <outboundRules configSource="config\RewriteOutboundRules.config" />
    </rewrite>

    <staticContent>
      <remove fileExtension=".otf" xdt:Transform="Insert"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf" xdt:Transform="Insert" />
    </staticContent>

  </system.webServer>

</configuration>
